*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.clearfix{
    content: "";
    clear: both;
    display: table;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.bordi{
    border-radius: 5px;
    overflow: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.grey{
    color: rgb(175, 175, 175);
}
/* common */
/* header */

#logo{
    height: 50px;
}
nav>ul{
    list-style: none;
    padding: 50px 0;
}
nav>ul a{
    text-decoration: none;
    text-transform: uppercase;
}
nav>ul li{
    display: inline-block;
    padding: 0 5px;
}

/* header */


/* main */
.contenitore{
    margin-bottom: 50px;
    height: 500px;
    position: relative;
}

.contenitore img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.overlay{
    inset: 0;
    background-color: rgba(143, 143, 143, 0.377);
    position: absolute;
}

.descri{
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: white;
    width: 30%;
}

.contenitor{
    margin-bottom: 50px;
    width: 100%;
}

.testa{
    width: 100%;
    margin-bottom: 20px;
}

.sidebar,
.center{
    float: left;
    margin-bottom: 20px;
}

.sidebar{
    width: 20%;
}
.center{
    margin: 0 10px;
    width: calc(60%  - 20px);
}

.image{
    position: relative;
    height: 200px;
}

.image img{
    height: 100%;
    width: 100%;
   object-fit: cover;
}

.sidebar h3,
.center h3{
    padding: 10px 0;
}


/* main */

footer{
   text-align: center;
}

footer span{
   color: red;
    padding-bottom: 10px;
    font-size: 40px;
    vertical-align: middle;
}